@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --dark-gray: #1C1A1B;
    --dark: #131313;
    --pink: #FFC4DD;
    --blue: #2C13DD;
}

* {
    transition: 0.2s;
}

html, body {
    background: var(--dark);
    color: white;
}

@layer components {
    .container {
        @apply max-w-[1200px] mx-auto px-4;
    }

    .btn {
        @apply inline-flex items-center justify-center px-6 py-2 cursor-pointer min-w-[150px];
    }

    .btn-circle {
        @apply rounded-full min-w-[auto] px-0 py-0;
    }

    .btn-reset {
        @apply min-w-[auto] px-0 py-0;
    }

    .btn-light {
        @apply bg-white text-dark hover:text-white hover:bg-dark hover:border;
    }

    .btn-blue {
        @apply bg-blue text-pink hover:bg-pink hover:text-blue;
    }

    .btn-pink {
        @apply bg-pink text-dark hover:bg-white hover:text-pink;
    }

    .btn-outline-light {
        @apply border border-white/80 text-white/80 hover:bg-white hover:text-dark;
    }

    /* vertical shadow */
    .vertical-shadow-gradient {
        @apply relative;
    }
    
    .vertical-shadow-gradient::before {
        content: "";
        background-image: linear-gradient(180deg, transparent, var(--dark));
        @apply absolute left-0 bottom-0 z-[10] h-[50%] w-full;
    }
    
    .vertical-shadow-gradient:hover img {
        @apply scale-110;
    }

    .dropdown {
        @apply relative cursor-pointer;
    }

    .dropdown-menu {
        @apply invisible hidden absolute ease-in duration-[200ms] -right-[10%];
    }

    .dropdown-menu-li {
        @apply invisible;
    }

    .dropdown:hover .dropdown-menu{
        @apply visible  right-[130%];
    }

    .dropdown:hover .dropdown-menu .dropdown-menu-li {
        @apply visible;
    }
    
}