<div class="w-full md:w-3/6 py-6 md:py-4">
    <div class="w-full h-10 border-b border-pink/10 md:px-8 flex justify-center md:justify-start">
        <div class="text-pink border-b-2 border-pink h-full inline-flex">
            <a class="">Your Feed</a>
        </div>
        <div class="inline-flex text-white/70">
            <a class="px-6">Trending</a>
        </div>
    </div>
    <div class="md:px-8 py-8">
        {% if posts %}
            {% for post in posts %}
            {% include "feed/components/photocard.html" %}
            {% endfor %}
        {% endif %}
    </div>
</div>