<div class="w-1/6 flex flex-col gap-3 border-r py-12 border-pink/10 min-h-screen">
    <div class="flex items-center gap-5 w-full text-white">
        <i class="fa-solid fa-rss text-pink"></i>
        <p class="inline">Feed</p>
    </div>
    <div class="flex items-center gap-5 w-full text-white/70">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="inline">Discover</p>
    </div>
    <div class="flex items-center gap-5 w-full text-white/70">
        <i class="fa-solid fa-gear"></i>
        <p class="inline">Settings</p>
    </div>
</div>