<article class="max-w-[450px] mx-auto">
    <div class="flex gap-4">
        <div class="w-12 md:w-[10%] h-10 bg-dark-gray rounded-full">
            <img
                class="w-full h-full rounded-full object-cover"
                loading="lazy"
                src="{{post.author.profile.profile_image.url}}" 
            >
        </div>
        <div class="flex flex-col w-full md:w-[80%]">
            <a class="flex flex-col">
                <div class="flex gap-4">
                    <p class="font-bold">
                        {{post.author.first_name}} {{post.author.last_name}}
                    </p>
                    <p>
                        @{{post.author.username}}
                    </p>
                </div>
            </a>
            <p class="font-light text-justify mt-2">
                {{post.description}}
                
            </p>
        </div>
        <div class="w-[5%]">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
    <div class="flex flex-col md:flex-row">
        <div class="h-64 w-full bg-pink rounded-xl mt-4 mb-4">
            <img
                src="https://images.unsplash.com/photo-1602436294480-4e1db564adda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=696&q=80"
                class="w-full h-full object-cover"
            >
        </div>
        <div class="flex md:flex-col gap-4 justify-around md:justify-center mt-4">
            <div class="flex flex-col items-center w-12 h-12">
                <i class="fa-regular fa-heart text-xl"></i>
                <p>
                    {{post.likes.count}}
                </p>
            </div>
            <div class="flex flex-col items-center w-12 h-12">
                <i class="fa-regular fa-comment text-xl"></i>
                <p>
                    0
                </p>
            </div>
            <div class="flex flex-col items-center w-12 h-12">
                <i class="fa-solid fa-repeat text-xl"></i>
                <p>
                    0
                </p>
            </div>
            <div class="flex flex-col items-center w-12 h-12">
                <i class="fa-solid fa-arrow-up-from-bracket text-xl"></i>
                <p>
                    0
                </p>
            </div>
        </div>
    </div>
</article>