<div class="w-2/6 hidden md:flex flex-col min-h-screen border-l border-pink/10 px-4 py-6">
    <div class="min-h-[100px] w-full bg-dark-gray rounded-xl">
        <a class="w-full">
            <div class="flex justify-between w-full px-4 py-3 border-b border-white/10">
                <p>
                    Users to follow
                </p>
                <div class="flex items-center gap-2">
                    <p>More</p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </a>
        <div class="overflow-y-scroll h-full w-full py-4">
            <a class="flex w-full justify-between px-4 py-2">
                <div class="flex items-center w-full">
                    <img
                    class="w-16 h-12 object-cover rounded-xl"
                    loading="lazy"
                    src="https://images.unsplash.com/photo-1602233158242-3ba0ac4d2167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80"
                    />
                    <div class="flex flex-col px-4 w-full">
                        <p>
                            Mary Jane Luis
                        </p>
                        <p class="text-sm text-white/70">
                            @someusername
                        </p>
                    </div>
                    <button class="btn btn-outline-light btn-circle w-6 h-6 px-4 py-4">
                        +
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>