<a href="{% url 'story-detail' %}" class="min-w-[200px] h-80  bg-dark rounded-xl overflow-hidden relative">
    <img
        src="https://images.unsplash.com/photo-1671465436095-767210425904?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        class="w-full h-full object-cover hover:scale-110 hover:rotate-2" 
        loading="lazy"
    />
    <div class="bg-blue text-pink w-16 h-8 px-4 rounded-full absolute top-4 right-3 grid place-items-center">
        10k
    </div>
</a>