{% extends "base.html" %}

{% include "layout/header.html" %}

{% block content %}
<section class="flex w-full max-w-[1200px] mx-auto px-4">
    <div class="w-1/6">
        <div class="flex items-center gap-5 w-full">
            <i class="fa-solid fa-rss"></i>
            <p class="inline">Feed</p>
        </div>
        <div class="flex items-center gap-5 w-full">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p class="inline">Discover</p>
        </div>
        <div class="flex items-center gap-5 w-full">
            <i class="fa-solid fa-gear"></i>
            <p class="inline">Settings</p>
        </div>
    </div>
    <div class="w-3/6">
        content ...
    </div>
    <div class="w-2/6">
        right sidebar
    </div>
</section>
{% endblock %}