<div class="bg-dark-gray w-[330px] min-h-[200px] rounded-xl mx-auto mt-12 py-8">
    <div class="px-8">
        <p class="mb-2 text-base">We need your help</p>
        <h5 class="text-pink text-2xl font-light mb-4">Donate now!</h5>
        <p class="mt-16 text-white/70 mb-4">GOAL</p>
        <div class="flex items-center gap-4">
            <p class="text-6xl">
                $ 100k
            </p>
            <p class="text-xl">
                USD
            </p>
        </div>
        <div class="w-full h-3 bg-[#323131] rounded-full mt-6">
            <div class="bg-pink h-full rounded-full" style="width: 80%;"></div>
        </div>
        <div class="flex justify-between mt-6">
            <div class="flex gap-2">
                <b>
                    80K
                </b>
                <p class="text-white/70">
                    raised
                </p>
            </div>
            <p class="text-pink">
                80%
            </p>
        </div>
    </div>
    <div class="px-4 mt-6">
        <a class="btn btn-blue rounded-xl w-full">
            Donate
        </a>
    </div>
</div>