<a href="{% url 'chat-room' %}" class="flex w-full">
    <div class="w-20 h-20 rounded-full overflow-hidden bg-dark-gray">
        <img
            src="https://images.unsplash.com/photo-1531891437562-4301cf35b7e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
            class="w-full h-full object-cover"
        >
    </div>
    <div class="flex flex-col justify-center px-4">
        <p class="font-bold">
            Alej Sakiv
        </p>
        <p>
            Te escribí un mensaje
        </p>
    </div>
</a>