<header class="w-full border-b border-pink/10" >
    <navbar class="h-16 container flex items-center justify-between">
        <a class="flex items-center gap-2 text-xl">
            <p class="font-bold text-pink">#</p>
            <b class="">Impact</b>
           </a>
           <div class="flex gap-2">
                <a class="btn btn-outline-light  rounded-full">
                    Sign up
                </a>
                <a class="btn btn-light text-blue rounded-full">
                    Log in
                </a>
           </div>
    </navbar>
</header>
